@import 'mixins'

html, body
  background: #191919

body
  font-family: "Helvetica Neue", sans-serif
  color: #777777

+font-face("Economica", "economica-bold-webfont")
+font-face("PT Mono", "ptmono-webfont")

h1, h2, h3, h4, h5, h6
  font-weight: normal
  font-family: "Economica", sans-serif
  text-transform: uppercase

pre
  background: #121111
  font: 13px "PT Mono", monospace
  color: #507467
  padding: 5px 15px
  white-space: pre-wrap